<div>
  <ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active">
      <a (click)="onChoose('all')"
        routerLink="/characters/all">All</a></li>
    <li role="presentation" routerLinkActive="active">
      <a (click)="onChoose('light')"
        routerLink="/characters/light">Light</a></li>
    <li role="presentation" routerLinkActive="active">
      <a (click)="onChoose('dark')"
        routerLink="/characters/dark">Dark</a></li>
  </ul>
  <!-- <app-list [listCharacters]="getCharacters()" ></app-list> -->
  <router-outlet></router-outlet>
</div>
